.square{
    height: 100px;
    width: 100px;
    border: 1px solid lightgrey;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Arial Rounded MT Bold', 'Helvetica Neue', sans-serif;
}